# Default owners for everything

* @dev-patel05

# Frontend specific
/client/ @dev-patel05

# Backend specific
/backend/ @dev-patel05

# CI/CD workflows
/.github/ @dev-patel05
=======
* @dev-patel05

# Frontend specific
/client/ @dev-patel05

# Backend specific
/backend/ @dev-patel05

# CI/CD workflows
/.github/ @dev-patel05

